@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.card{
  background: white;
  height: 400px;
  width: 250px;
  margin: auto;
  margin-top:20px;
  border-radius: 15px;
  box-shadow: 9px 10px 5px 0px;
  border:solid 2px black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.top{
position:absolute;
top: 1px;
left: 10px;
font-size: 70px;
}

.bottom{
  position:absolute;
  bottom: 1px;
  right: 10px;
  font-size: 70px;
  transform: rotate(180);
}

.number{
text-align: center;
font-size: 70px;
font-weight: bold;
}

.button{
  display:flex;
  justify-content: center;
  align-content: center;
}